/*--- GLOBAL STYLING ---*/
body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  color: #333;
  background-color: #fafafa;
}

section {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3 {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}


/*--- TYPOGRAPHIC HIERARCHY ---*/

h1 {font-size: 3em; margin-bottom: .5em; word-spacing: -10px; color:#444}
h2 {font-size: 2.5em; margin: 0.75em 0; text-align: center; color: #3c3c3b}
h3 {font-size: 1.5em; margin-bottom: .5em; color: #9e6cf6}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 200;}

header {
  width: 90%;
  font-family: 'Space Mono', monospace;
  max-width: 800px;
  margin: auto;
  padding: 8em 0 1em;
  color: #3c3c3b;}

  header h1 {
  margin: 0 0 3;
  font-size: 4em;
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: #3c3c3b;
  }

  header h2 {
  font-family: 'Space Mono', monospace;
  font-size: 1.75em;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
  line-height: 0.2;
  padding: 0em;
  text-align: center;
  color: #9e6cf6;
}

 header h3 {
  font-family: 'DM Sans', sans-serif;
   font-size: 1.4em;
   letter-spacing: 1px;
   margin: 0.4em;
   line-height: 1.5;
   padding-bottom: 0em;
   text-align: center;
   color: #3c3c3b;
 }

.wordmark{
  padding-bottom: 2em;
}

.highlight {color: #439ff6}

.project-name
{padding-bottom: 1em;}


/*--- BACKGROUND ---*/

.background-image {
    padding: 3em 0;
    background: #fafafa url('../img/hero-background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    text-align: center;
    background-size: cover;
    background-position: center;
}


  .background-colour {
        padding: 3em 0;
        background: #fafafa;
        color: #fafafa;}

/*--- LINKS ---*/

a {
  color: #fff;
  text-decoration: none;
}

.background-colour a {
  text-decoration: none;}

.background-colour a:hover {
  color: #fafafa;}

.project-name a {
  color: #3c3c3b;
  border-bottom: none;}

.project-name a:hover {
  color: #9e6cf6;
 transition: all 0.3s ease-in-out; }

.contact-grid-container a {
  color: #9e6cf6;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  text-decoration: none;
}

.contact-grid-container a:hover{
  border-bottom: none;
  color: #333;
  transition: all 0.3s ease-in-out; }

/*--- NAVIGATION ---*/

nav {
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color:#fafafa;
  padding: 1.5em 0 1.5em 0;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  box-shadow: 0em 0em 0.7em 0.2em rgba(0,0,0,0.05);
  position: fixed;
  z-index: 99;
}

nav ul{
  padding-right: 10vw;
  padding-top: 0em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  Position: relative;
  Top: 50%;
  Transform: translateY(130%)
}

nav ul li {
  display: inline;
  margin: 20px;
  background: none;}

nav a:link {
  color: #9e6cf6}

nav a:visited {
  color: #9e6cf6}

nav a:hover {
  border-bottom: none;
  color: #333;
  transition: all 0.3s ease-in-out; }

.logo img{
  align: left;
  padding-left: 10vw;
  width: auto;
  height: 50px;
  Position: relative;
  Top: 40%;
  Transform: translateY(-40%)}

/*--- IMAGES ---*/

img{
  display: block;
  margin: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out; }


/*--- PORTFOLIO SECTION ---*/

.grid-container{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px auto); */

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) ) ;

}

.grid-container h2 {
  text-align: left;
  font-size: 2em;
}

.grid-container h2 a:hover {
  color: #9e6cf6;}
}
.grid-container h3 {
  color: #9e6cf6;
  font-family: 'DM Sans', sans-serif;
  text-align: left;
  font-size: 1.5em;
}

.inline-div {
  display: inline-block;
}

li {
  position: relative;}

.portfolio-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.portfolio-img:hover {
 box-shadow: 0em .0em .3em .1em rgba(0,0,0,0.2);
 top:-10px;
}


/*--- BLOG SECTION ---*/

.blog-grid-container{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-gap: 80px;
  align-items: center;
  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px auto); */

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ) ;

}
.blog-img{
box-shadow: 0em 0em 0.7em 0.2em rgba(0,0,0,0.05);
}

.button{
  background-color: #9e6cf6;
  border: none;
  color:#fff;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button a {border: none;
color:#fff;
}

.button:hover {
  background: #333;
  color: #fff;
  box-shadow: 0em .0em .3em .1em rgba(0,0,0,0.2);
  transition: top ease 0.5s;
}


.background-colour{background-color: #f2f2f2;
  margin-top: 7em;
}

#blog h2 {color: #3c3c3b}
#blog p {
  color: #3c3c3b;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 200;}

/*--- CONTACT SECTION ---*/

.contact-grid-container{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-gap: 80px;
  align-items: center;
  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px auto); */

  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;}

  #contact {
  padding: 4em 0em 6em 0em
  }

  #contact p {
  color: #3c3c3b;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 200;}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #9e6cf6;
    border: none;
    color:#fff;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  input[type=submit]:hover {
    background: #333;
    color: #fff;
    box-shadow: 0em .0em .3em .1em rgba(0,0,0,0.2);
    transition: top ease 0.5s;
  }

  .container {
    border-radius: 3px;
    background-color: #9e6cf6;
    padding: 20px;
  }

/*--- ABOUT PAGE ---*/

.about-img{
      max-width: 200px;
      padding-bottom: 3em;
    }

#about {
  padding-top: 9em;
  padding-bottom: 3em;
  max-width: 800px;

}

hr.border {
  border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

/*---PROJECT PAGES---*/

header.project-hero
{max-width: 1000px;
margin-top: 2em;
margin-bottom: 6em;
align-content: center;
}

.my-roles{
padding-top: 0.25em;
text-align: center;
align-items: center;
margin: auto;
}

header .my-roles div {
background-color: #f1f1f1;
border: none;
color:#333;
font-family: 'DM Sans', sans-serif;
padding: 10px 21px;
text-align: center;
text-decoration: none;
font-size: 18px;
margin: 5px;
display: inline-block;
}

.header-img {
  width: 70%;
  padding: 1em 0 2em;
}

.galaxy-hero {background-color: #b1b1bc;}

.brand-hero {background-color: #9e6cf6;}

.review-hero {background-color: #fed74e;}

.manifesto-hero {background-color: #8e295f;}

.icon {
  height: 120px;
}

.icon-1 {
  height: 120px;
}

#project-section {
  max-width: 1000px;
  padding-top: 5em}

#project-section-2 {
    max-width: 1000px;
    padding-top: 2em}

#review-section{
    max-width: 800px;
    padding-top: 5em;
    padding-bottom: 2em;
}

#manifesto-section{
    max-width: 800px;
    padding-top: 5em;
    padding-bottom: 4em;
}



.video-wrap {
     position:relative;
     padding-bottom: 55%;
     padding-top: 30px;
     height: 0;
     overflow:hidden;
     margin-bottom: 1em;
}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
     position:absolute;
     top:0;
     width:100%;
     height:100%;
}


.background-grey{
  background-color: #f2f2f2;}

.icons-image{
  max-width: 80%
}

.project-images {
  padding-bottom: 1em;
}


hr.line-break {
  border: 0;
    height: 0;
    border-top: 0px;
    border-bottom:2px solid rgba(51, 51, 51, 0.3);
    padding-top: 1em;
    position: relative;
}

.project-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 1em;
  padding-bottom: 0.25em;
}

.title{
  width: 220px;
}
.content {
  grid-column: 2 / 3;
}

.content p{
  font-size: 1.1em;
}

.image-container{
display: grid;
grid-gap: 20px;
grid-template-columns: auto auto;
grid-template-columns: repeat(auto-fill, minmax(360px, 1fr) ) ;}

.icons-image {
  max-width:80%
}

.results{
padding-bottom: 2em;}


/*---My Manifesto---*/

.header-man-img {
  width: 80%;
}
/*---------------------------- FOOTER -----------------------------*/
footer {
  text-align: right;
  font-size: 0.707em;
  padding: 0.5em 6em 2em 6em;
  margin: auto;
  color: #fafafa;
  background: #3c3c3b;
}

.connections{
  position: relative;
  margin: 0 auto;
}
.connections ul{
  margin: 0;
  padding: 0;
  text-align: right;
}
.connections li{
  margin: 0 10px;
  padding: 0;
  list-style: none;
  display: inline;
}

.connections a:link{
  border-bottom: none;
}
.connections img,
.connections svg{
  border: none;
  fill: #fafafa;
}
.connections a:hover img,
.connections a:hover svg{
  border-bottom: none;}

.connections svg {
      margin: 2em auto;}

.connections a:hover svg path {
      fill: #9e6cf6;
      transition: all 0.2s ease-in-out;}

footer .connections a:hover svg path {
        fill:  #9e6cf6;
        transition: all 0.2s ease-in-out;}

.copyright p{
        font-size: 1.5em;
        align: left;
        width: auto;
        padding-top: 3.5em;
        Position: relative;
        Top: 40%;
        Transform: translateY(-40%)}



@media only screen and (max-width: 710px) {
section {
    width: 90%;
    margin: auto;}

header {
      width: 80%;
      padding: 4em 0 1em
      }

header h1 {font-size: 3.25em;}
header h2 {font-size: 1.2em;}
header h3 {font-size: 1.5em;}
header p {font-size: 1.25em;}

.background-image {
  height: 260px;
  width: auto;
}

.wordmark{
  padding-bottom: 1em;
}

.break { display: none}

nav {
  padding: 1em;
}

.logo {
  text-align: left;
  padding-right: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
  background: none;
  overflow: hidden;
}

  background-image {
    height: 200px;
    width: auto;
  }

header h3 {font-size: 1.25em;
   line-height: 1.5;}



.contact-form {display: none}

}

@media only screen and (max-width: 610px) {

  section {
    width: 90%;
    margin: auto;
  }

  header {
        width: 80%;
        float: center;
        padding: 4em 0 1em
        }
h1 {
  padding-bottom: 0.25em
}
h2 {margin: 0.5em, 0, 0.5em;
font-size: 2em}

header h3 {font-size: 1.1em;}

.grid-container h2 {
  text-align: left;
  font-size: 1.75em;
}

.grid-container{
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr) ) ;
    padding: 5px;
    width: 90%;
  }

.blog-grid-container{
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(85%, 1fr) ) ;
}

.contact-grid-container{
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr) ) ;

  }

  .project-container {
    display: grid;
    padding-top: 1em;
    padding-bottom: 0.01em;
    grid-template-areas:
    "title"
    "content"
  }

  .title{
    width: 220px;
    grid-area: title;
  }
  .content {
    grid-column: 2;
    grid-area: content
  }

  .content p{
    font-size: 1.25em;
    line-height: 1.5;
  }

.background-colour {
  margin-top: 2em;
}



 header.project-hero
 {
 margin-top: 2em;
 margin-bottom: 0em;
 }

.my-roles{
  align-content: center;
}

header .my-roles div {
  font-size: 0.75em;
}
header.project-hero {
  margin-bottom: 2em;
}

 header .my-roles li {
 padding: 10px 21px;
 font-size: 14px;
 margin: 2px;
 margin-top: 6px;
 display: inline-block;
 }

 .header-img {
   width: 100%;
   padding: 0em 0em 1em;
   margin: 0em 0em 3em'
 }

.galaxy-hero{
  margin-bottom: 2em;
}

.brand-hero {
    margin-bottom: 2em;
}


.header-man-img {
  width: 100%;
}

 .icon {
   height: 70px;
 }

 #project-section {
   padding-top: 1.75em}


 #manifesto-section{
       padding-top: 2.5em;
   }


 #about {
     padding-top: 9em;
     padding-bottom: 1em;
     max-width: 800px;
   }

#contact{
  padding-bottom: 2em;
}

.image-container{
grid-gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr) )}

  .header-man-img {
      width: 100%;
    }

    nav {
      top: 0;
      left: 0;
      margin: auto;
      width: 100%;
      background-color:#fafafa;
      padding: 1em 0 1.65em 0;
      font-family: 'Space Mono', monospace;
      font-size: 0.85em;
      display: inline;
      box-shadow: 0em 0em 0.7em 0.2em rgba(0,0,0,0.05);
      position: absolute;
      z-index: 99;
    }

    .logo img{
      align: left;
      padding-left: 7vw;
      width: auto;
      height: 35px;
      Position: relative;
      Top: 40%;
      Transform: translateY(-40%)}

      nav ul{
        padding-right: 5vw;}

    footer {
      text-align: right;
      font-size: 0.707em;
      padding: 0.25em 1em 0em 2em;
      margin: auto;
      color: #fafafa;
      background: #3c3c3b;
    }

    .copyright p{
            font-size: 1em;
            align: left;
            width: auto;
            padding-top: 5em;
            Position: relative;
            Top: 40%;
            Transform: translateY(-40%)}
}

@media only screen and (max-width: 310px) {

  nav {
    top: 0;
    left: 0;
    margin: auto;
    width: 310px;
    background-color:#fafafa;
    padding: 1em 0 1.5em 0;
    font-family: 'Space Mono', monospace;
    font-size: 0.6em;
    display: inline;
    box-shadow: 0em 0em 0.7em 0.2em rgba(0,0,0,0.05);
    position: fixed;
    z-index: 99;
  }

  .logo img{
    align: left;
    padding-left: 7vw;
    width: auto;
    height: 25px;
    Position: relative;
    Top: 40%;
    Transform: translateY(-40%)}

    nav ul{
      padding-right: 10vw;}
